<footer class="site-footer h-card" style="background-color: #cfe2f3;">
  <data class="u-url" href="/2021/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Ishaque Lab Website</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Naveed Ishaque</li>
          <li class="p-name">BIH@Charité - Center for Digital Health</li>
          <li class="p-name">Kapelle-Ufer 2</li>
          <li class="p-name">10117 Berlin</li>          
        </ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a class="u-email" href="mailto:naveed.ishaque@bih-charite.de">naveed.ishaque@bih-charite.de</a></li>
          <li><a class="u-email" href="https://orcid.org/0000-0002-8426-901X">ORCiD</a></li>
          <li><a class="u-email" href="https://scholar.google.com/citations?user=XW9GmMoAAAAJ&hl=en&oi=ao">Google Scholar</a></li>
          <li><a class="u-email" href="https://www.hidih.org/research/computational-oncology">Computational Oncology Website</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
